/* Teal Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #00897b;
  --primary-hover: #00796b;
  --primary-focus: rgba(0, 137, 123, 0.125);
  --primary-inverse: #fff;
  --danger: #d81b60;
  --danger-hover: #c2185b;
  --danger-focus: rgba(216, 27, 96, 0.125);
  --infos: #dbebe9;
}

/* Teal Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: #00897b;
    --primary-hover: #009688;
    --primary-focus: rgba(0, 137, 123, 0.25);
    --primary-inverse: #fff;
    --danger: #d81b60;
    --danger-hover: #c2185b;
    --danger-focus: rgba(216, 27, 96, 0.125);
    --infos: #dbebe9;
  }
}

/* Teal Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #00897b;
  --primary-hover: #009688;
  --primary-focus: rgba(0, 137, 123, 0.25);
  --primary-inverse: #fff;
  --danger: #d81b60;
  --danger-hover: #c2185b;
  --danger-focus: rgba(216, 27, 96, 0.125);
  --infos: #dbebe9;
}

/* Teal (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

body {
  margin: 0;
  margin-bottom: 4rem;
}

.brand:focus {
  background: none;
  color: var(--primary);
}

.title {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

article .title {
  margin-top: 0;
}

.danger {
  color: var(--danger);
}

.primary {
  color: var(--primary);
}

article.alert {
  background-color: #dbebe9;
  box-shadow: none;
}

article.alert p {
  color: var(--primary);
  margin: 0;
}

hr {
  border-top: 1px solid var(--infos);
}

.button-inline {
  width: 200px;
  margin: 0;
}

.button-icon {
  cursor: pointer;
}

button.danger {
  background-color: var(--danger);
  border-color: var(--danger);
  color: var(--primary-inverse);
}

button.danger:hover {
  background-color: var(--danger-hover);
  border-color: var(--danger-hover);
}

.container-button-alone {
  display: flex;
  justify-content: flex-end;
}

.container-button-multiple {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .button-inline {
    width: 100%;
  }
  .container-button-multiple {
    flex-direction: column-reverse;
    gap: 1rem;
  }
}

.previous-icon {
  margin-right: 1rem;
}

.next-icon {
  margin-left: 1rem;
}

article.selected {
  background-color: var(--infos);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
