@import "./alert.css";
@import "./colors.css";
@import "./animation.css";

body {
  margin: 0;
  /* margin-bottom: 4rem; */
}

.brand:focus {
  background: none;
  color: var(--primary);
}

.title {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

article .title {
  margin-top: 0;
}

.danger {
  color: var(--danger);
}

.primary {
  color: var(--primary);
}

article.alert {
  background-color: #dbebe9;
  box-shadow: none;
}

article.alert p {
  color: var(--primary);
  margin: 0;
}

hr {
  border-top: 1px solid var(--infos);
}

.button-inline {
  width: 200px;
  margin: 0;
}

.button-icon {
  cursor: pointer;
}

button.close {
  background-color: transparent;
  border: none;
}

button.danger {
  background-color: var(--danger);
  border-color: var(--danger);
  color: var(--primary-inverse);
}

button.danger:hover {
  background-color: var(--danger-hover);
  border-color: var(--danger-hover);
}

.container-button-alone {
  display: flex;
  justify-content: flex-end;
}

.container-button-multiple {
  display: flex;
  justify-content: space-between;
}

.previous-icon {
  margin-right: 1rem;
}

.next-icon {
  margin-left: 1rem;
}

article.selected {
  background-color: var(--infos);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bold {
  font-weight: bold;
}

.actionTile {
  list-style-type: none;
}

article.info {
  background-color: #d9ecfa;
  box-shadow: none;
}

article.yellow {
  position: fixed;
  bottom: 0;
  right: 2%;
  width: fit-content;
  background-color: rgb(245, 240, 197);
}

dialog h3,
dialog p {
  margin: 0;
}

dialog footer {
  margin-top: 2rem;
}

/* RESPONSIVE */

@media screen and (max-width: 992px) {
  .button-inline {
    width: 100%;
  }
  .container-button-multiple {
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .icone-btn {
    display: inline-block;
  }
  .text-btn {
    display: none;
  }
}
