.challengeBtn {
    width: 300px;
    margin-right: 25px;
    margin: unset;
}

.changeActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 20px;
    margin-top: 45px;
}

.changeActions h4 {
    margin-bottom: unset;
}

details summary {
    position: relative;
}

details summary::after {
    position: absolute;
    right: 0px;
    top: 0px;
}

details summary h6 {
    font-size: 23px;
}