.challengePageContainer {
    margin-top: 40px;
}

.challengePageContainer nav {
    margin-bottom: 30px;
}

.css-8je8zh-MuiTouchRipple-root {
    border: 1px solid #006A75 !important;
    border-radius: 10px 10px 0px 0px !important; 
    border-bottom: unset !important;
}

.css-1gsv261 {
    border-bottom: 1px solid;
}

.css-cjctlb-MuiButtonBase-root-MuiTab-root {
    padding: 20px 25px !important;
    font-weight: 600 !important;
    color: #006A75 !important;
}


/* Responsive */

@media (max-width: 575.98px) { 

    .css-cjctlb-MuiButtonBase-root-MuiTab-root {
        padding: 5px 15px !important;
        font-size: 13px !important;
        word-break: break-word;
    }
}