.footer {
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 200px;
}
.footer a, .footer p {
    color: white;
}
.footer section {
    margin: 20px 0;
    padding: 45px;
}
.firstBlock {
    display: flex;
    flex-direction: column;
}
.firstBlock a, .firstBlock p {
    padding: 5px;
}
.sociaIconsContainer a {
    padding-right: 25px;
}

/* Responsive design */

/* Large devices (desktops, less than 1200px) */
@media (max-width: 767px) {

    .footer {
            display: flex;
            flex-direction: column;
            align-items: center;
    }
    .footer section {
        padding: unset;
        text-align: center;
    }
}