.btnContainer {
    display: flex;
    justify-content: flex-start;
    margin: 50px 0 20px;
    align-items: center;
    justify-content: space-around;
}

.challengeBtn {
    width: 300px;
    margin-right: 25px;
}
.updateChallengeBtn {
    padding: 20px 5px;
    width: 310px;
}
.btnContainer :is(button,input[type=submit],input[type=button],[role=button]).outline {
    width: 300px;
    margin-bottom: unset;
}

.updateActions .next-icon {
    margin-left: unset;
}

.deleteBtn:hover {
    background-color: var(--danger);
    border-color: var(--danger);
}

.infosPara {
    display: flex;
    align-items: center;
}

.infosPara p:nth-child(2) {
    margin-left: 10px;
    font-weight: 600;
    color: #006A75;
} 

.challengeInfoContainer section {
    margin-left: 10px;
    padding: 30px 38px;;
    background: var(--card-background-color);
    box-shadow: var(--card-box-shadow);
    border-radius: 28px;
}

.challengeInfoContainer h2 {
    margin-bottom: 25px;
}

.whenStartGame {
    text-align: center;
    font-size: 23px;
    color: var(--primary);
    font-weight: 600;
    margin: 50px 0;
    justify-content: center;
    align-items: center;
}

.whenStartGame svg {
    color: unset !important;
    font-size: 24px !important;
}

.participantsContainer ul li p {
    font-weight: 600;
    color: #006A75;
}




